<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZZO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="css\styles.css">
</head>

<body>
    <section id="header">
        <h1>Quizzoo</h1>
    </section>

    <section id="quest-ans">
        
            <div class="question">
                <h1><%=quest%></h1>
            </div>
            <div class="answers">
            <form action="next" method="POST">
                <% for (var i=0; i < options.length; i++) { %>
                <input type="radio" id="1" name="value" value = "<%=options[i]%>" required>
                  <label for="1"><%=options[i]%></label><br>
                <%}%> 
            <button id="nextButton" type="submit"><%=buttonText%></button>
            </form>

            </div>
         

    </section>
</body>

</html>
